@import "mixins";

@include font-face(GothamPro, GothamPro/GothamPro, null, null, eot woff ttf svg);
@include font-face(GothamPro-Medium, GothamPro-Medium/GothamPro-Medium, null, null, eot woff ttf svg);
@include font-face(PlayfairDisplayRegular, PlayfairDisplayRegular/PlayfairDisplayRegular, null, null, eot woff ttf svg);

.no-gutter > [class*="col-"] {
    padding-left: 0px;
    padding-right: 0px;
}
.layout {
    .menu {
        background: #ff4727;
        color: #fff;
        height: 100%;
        position: fixed;
        text-align: center;
        width: 70px;
        z-index: 100;

        .icon {
            margin: 15px;
        }

        .menu-bottom {
            margin-top: 200%;

            .rotatable {
                font-size: 32px;
                margin-top: 80px;
                -webkit-transform: rotate(-90deg);
                   -moz-transform: rotate(-90deg);
                     -o-transform: rotate(-90deg);
                    -ms-transform: rotate(-90deg);
                        transform: rotate(-90deg);
            }
        }
    }

    &__content {}

    .header {
        background-image: url(../img/header.png);
        font-family: GothamPro;

        .logo {
            color: #430d0d;
            font-size: 22px;
            font-weight: bold;
            line-height: 1;
            padding: 5px 0 10px 0;
            text-align: center;
        }

        .sponsor {
            font-size: 11px;
            margin: 35px 0 10px 0;

            .sposor-name {
                line-height: 1;
            }

            > a {
                color: #23222e;
                text-decoration: underline;
            }
        }

        .social {
            margin-top: 27px;
            display: block;

            .social__button {
                max-width: 65px;
                padding: 5px 0;
                text-align: center;
            }

            .social__button:hover {
                border: 2px solid #ff4727;
                color: #ff4727;
                margin: -2px 0;
            }
        }

        .call {
            background: #ff4727;
            color: #fff;
            line-height: 1.1;
            margin: 15px 0;
            padding: 20px 0px;
            text-align: center;
            width: 200px;

            .call-namber {
                font-size: 18px;
                font-family: GothamPro-Medium;

                .call-info {
                    font-size: 11px;
                }
            }
        }
    }
    .content {
        margin: 70px 0 50px 0;

        .block-workin {
            margin-bottom: 25px;

            .voting {
                margin-top: 25px;

                > p {
                    color: #ff4727;
                    font-family: GothamPro;
                    font-size: 18px;
                    font-weight: bold;
                }
            }

            .social-voting {
                font-size: 20px;
                margin: 0 auto;
            }
        }

        .consist {
            font-size: 24px;

            > a {
                color: #23222e;
                font-family: PlayfairDisplayRegular;
                text-decoration: underline;
            }
        }
        .name {
            font-size: 48px;
            margin: 75px 0;

            .profession {
                font-family: GothamPro;
                font-size: 24px;
            }
        }
        .information {
            text-align: center;

            .blog__work {
                .diary {
                    color: #23222e;
                    font-family: PlayfairDisplayRegular;
                    font-size: 24px;
                }

                .model-info {
                    font-family: PlayfairDisplayRegular;
                    font-size: 18px;

                    > span {
                        color: #ff4727;
                    }
                }
            }
            .block__rezultat {
                margin: 0 auto;

                > p {
                    font-family: GothamPro;
                    font-size: 18px;
                    padding: 5px 0;
                }
            }

            .img-model {
                display: inline-block;
                margin: 0 auto;

                .image {
                    float: left;
                    padding: 2px;
                }
            }

            .trait {
                margin: 10px 0;
            }

            .procedure {
                font-family: PlayfairDisplay;
                font-size: 18px;
            }

            .block__week {
                margin-top: 15px;

                > p {
                    font-size: 24px;
                    font-family: PlayfairDisplay;
                }

                .item {
                    margin: 30px 0;
                    margin-left: -35px;

                    .list-item {
                        color: #23222e;
                        font-family: GothamPro;
                        font-size: 14px;
                        text-align: left;
                    }
                }
            }

            .final {
                color: #ff4727;
                font-family: PlayfairDisplay;;
                font-size: 24px;
                margin-top: 25px;
            }
        }
    }

    .footer {
        background-image: url(../img/footer.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        font-family: GothamPro;
        color: #6c696c;
        padding-bottom: 90px;

        .container {
            padding-top: 90px;
        }

        p {
            font-size: 15px;
            font-weight: bold;
            letter-spacing: 2px;
            margin-bottom: 40px;
            text-overflow: ellipsis;
        }

        .footer-item {
            padding-left: 0;
            padding-bottom: 10px;

            .list-item {
                list-style: none;
                padding-bottom: 20px;

                > a {
                    color: #6c696c;
                    text-decoration: underline;
                }

                > span {
                    text-decoration: underline;
                }
            }
        }

        img {
            margin-top:5px;
            padding-bottom: 15px;
        }

        .footer-text {
            line-height: 1.1;
            padding-bottom: 15px;
        }
    }
}
