@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro/GothamPro.eot?") format("eot"), url("../fonts/GothamPro/GothamPro.woff") format("woff"), url("../fonts/GothamPro/GothamPro.ttf") format("truetype"), url("../fonts/GothamPro/GothamPro.svg#GothamPro") format("svg"); }
@font-face {
  font-family: "GothamPro-Medium";
  src: url("../fonts/GothamPro-Medium/GothamPro-Medium.eot?") format("eot"), url("../fonts/GothamPro-Medium/GothamPro-Medium.woff") format("woff"), url("../fonts/GothamPro-Medium/GothamPro-Medium.ttf") format("truetype"), url("../fonts/GothamPro-Medium/GothamPro-Medium.svg#GothamPro-Medium") format("svg"); }
@font-face {
  font-family: "PlayfairDisplayRegular";
  src: url("../fonts/PlayfairDisplayRegular/PlayfairDisplayRegular.eot?") format("eot"), url("../fonts/PlayfairDisplayRegular/PlayfairDisplayRegular.woff") format("woff"), url("../fonts/PlayfairDisplayRegular/PlayfairDisplayRegular.ttf") format("truetype"), url("../fonts/PlayfairDisplayRegular/PlayfairDisplayRegular.svg#PlayfairDisplayRegular") format("svg"); }
.no-gutter > [class*="col-"] {
  padding-left: 0px;
  padding-right: 0px; }

.layout .menu {
  background: #ff4727;
  color: #fff;
  height: 100%;
  position: fixed;
  text-align: center;
  width: 70px;
  z-index: 100; }
  .layout .menu .icon {
    margin: 15px; }
  .layout .menu .menu-bottom {
    margin-top: 200%; }
    .layout .menu .menu-bottom .rotatable {
      font-size: 32px;
      margin-top: 80px;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg); }
.layout .header {
  background-image: url(../img/header.png);
  font-family: GothamPro; }
  .layout .header .logo {
    color: #430d0d;
    font-size: 22px;
    font-weight: bold;
    line-height: 1;
    padding: 5px 0 10px 0;
    text-align: center; }
  .layout .header .sponsor {
    font-size: 11px;
    margin: 35px 0 10px 0; }
    .layout .header .sponsor .sposor-name {
      line-height: 1; }
    .layout .header .sponsor > a {
      color: #23222e;
      text-decoration: underline; }
  .layout .header .social {
    margin-top: 27px;
    display: block; }
    .layout .header .social .social__button {
      max-width: 65px;
      padding: 5px 0;
      text-align: center; }
    .layout .header .social .social__button:hover {
      border: 2px solid #ff4727;
      color: #ff4727;
      margin: -2px 0; }
  .layout .header .call {
    background: #ff4727;
    color: #fff;
    line-height: 1.1;
    margin: 15px 0;
    padding: 20px 0px;
    text-align: center;
    width: 200px; }
    .layout .header .call .call-namber {
      font-size: 18px;
      font-family: GothamPro-Medium; }
      .layout .header .call .call-namber .call-info {
        font-size: 11px; }
.layout .content {
  margin: 70px 0 50px 0; }
  .layout .content .block-workin {
    margin-bottom: 25px; }
    .layout .content .block-workin .voting {
      margin-top: 25px; }
      .layout .content .block-workin .voting > p {
        color: #ff4727;
        font-family: GothamPro;
        font-size: 18px;
        font-weight: bold; }
    .layout .content .block-workin .social-voting {
      font-size: 20px;
      margin: 0 auto; }
  .layout .content .consist {
    font-size: 24px; }
    .layout .content .consist > a {
      color: #23222e;
      font-family: PlayfairDisplayRegular;
      text-decoration: underline; }
  .layout .content .name {
    font-size: 48px;
    margin: 75px 0; }
    .layout .content .name .profession {
      font-family: GothamPro;
      font-size: 24px; }
  .layout .content .information {
    text-align: center; }
    .layout .content .information .blog__work .diary {
      color: #23222e;
      font-family: PlayfairDisplayRegular;
      font-size: 24px; }
    .layout .content .information .blog__work .model-info {
      font-family: PlayfairDisplayRegular;
      font-size: 18px; }
      .layout .content .information .blog__work .model-info > span {
        color: #ff4727; }
    .layout .content .information .block__rezultat {
      margin: 0 auto; }
      .layout .content .information .block__rezultat > p {
        font-family: GothamPro;
        font-size: 18px;
        padding: 5px 0; }
    .layout .content .information .img-model {
      display: inline-block;
      margin: 0 auto; }
      .layout .content .information .img-model .image {
        float: left;
        padding: 2px; }
    .layout .content .information .trait {
      margin: 10px 0; }
    .layout .content .information .procedure {
      font-family: PlayfairDisplay;
      font-size: 18px; }
    .layout .content .information .block__week {
      margin-top: 15px; }
      .layout .content .information .block__week > p {
        font-size: 24px;
        font-family: PlayfairDisplay; }
      .layout .content .information .block__week .item {
        margin: 30px 0;
        margin-left: -35px; }
        .layout .content .information .block__week .item .list-item {
          color: #23222e;
          font-family: GothamPro;
          font-size: 14px;
          text-align: left; }
    .layout .content .information .final {
      color: #ff4727;
      font-family: PlayfairDisplay;
      font-size: 24px;
      margin-top: 25px; }
.layout .footer {
  background-image: url(../img/footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: GothamPro;
  color: #6c696c;
  padding-bottom: 90px; }
  .layout .footer .container {
    padding-top: 90px; }
  .layout .footer p {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 40px;
    text-overflow: ellipsis; }
  .layout .footer .footer-item {
    padding-left: 0;
    padding-bottom: 10px; }
    .layout .footer .footer-item .list-item {
      list-style: none;
      padding-bottom: 20px; }
      .layout .footer .footer-item .list-item > a {
        color: #6c696c;
        text-decoration: underline; }
      .layout .footer .footer-item .list-item > span {
        text-decoration: underline; }
  .layout .footer img {
    margin-top: 5px;
    padding-bottom: 15px; }
  .layout .footer .footer-text {
    line-height: 1.1;
    padding-bottom: 15px; }

/*# sourceMappingURL=app.css.map */
